h1 {background-color: aqua;}
.p .area {color: blueviolet;}
.p .temperature {background-color: brown;}
p {color: aquamarine;}
.h2 .sub_title {color: aqua;}
.p .humidity {background-color: blueviolet;}
.h2 .sub_title {color: aqua;}
.p .dust {color: aqua;}
.result {color: aqua;}
#news {color: aqua;}
#news a {color: aqua;}
#news .box {background-color: blueviolet;}
#news .box h2 {color: aqua;}
#news .box p {color: blue;}
#news p span {color: aqua;}