#wrap {
    background-color:#1B56FD ;
    width:440px;
    height:956px;
    padding-left:15px;
    padding-right:15px;
}
#wrap h1 {
    font-size: 2.5rem;
    font-weight:700;
}
#wrap > p {
    font-size:1rem;
} /* #wrap 모든자식 p */
#wrap h1+p {
} /* #wrap의 h1 옆에 p */
#wrap #login_frm {
}
#wrap #login_frm h2 {
    background-color:#0118D8;
    color:#B5ECEE;
}
#wrap#login_frm p {
    background-color:#0118D8;
    color: #B5ECEE;
}
#wrap #login_frm p input {
    background-color: #1B56FD;
    color: #B5ECEE;
}
#wrap #login_frm p {
    background-color: #0118D8;
}
#wrap #login_frm h2 {}
#wrap #login_frm p {}
#wrap #login_frm p input {
    background-color: #0118D8;
    color: #B5ECEE;
}
#wrap #login_frm p #login_btn {
    background-color: #0118D8;
}
#wrap #login_frm p #login_google {
    background-color:#0118D8;
    color: #B5ECEE;
}

#wrap #login_frm+p {

}
#wrap #login_frm+p a {}